<!DOCTYPE html>
<html>
  <head>
    <title>Performance Testing Demo</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="/javascripts/addStudent.js"></script>
  </head>
  <body>
    <div id="mainContainer">
      <header>
        <div class="headerBox">
          <h1>Performance Testing Demo</h1>
        </div>
      </header>

      <div id="main">
        <div class="homeOptions">
          <div class="optionBox">
            <a href="/add" class="btn btn-default">Add</a>
          </div>
          <div class="optionBox">
            <a href="/remove" class="btn btn-default">Remove</a>
          </div>
        </div>
        <div class="listDisplay">
          <table>
            <thead>
              <td>Name</td>
              <td>Gender</td>
              <td>Birthyear</td>
              <td>City</td>
            </thead>
            <tbody>
              <% students.forEach(function(student) { %>
              <tr>
                <td><%= student.name %></td>
                <td><%= student.gender %></td>
                <td><%= student.birthyear %></td>
                <td><%= student.city %></td>
              </tr>
              <% }); %>
            </tbody>
          </table>      
        </div>
      </div>

      <footer>
        <div class="footerBox">
          <span>Copyright here</span>
        </div>
      </footer>
    </div>
  </body>
</html>
