<!DOCTYPE html>
<html>
  <head>
    <title>Performance Testing Demo</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="/javascripts/addStudent.js"></script>
  </head>
  <body>
    <div id="mainContainer">
      <header>
        <div class="headerBox">
          <h1>Performance Testing Demo</h1>
        </div>
      </header>

      <div id="main">
        <div class="homeOptions">
          <form class="form-inline" action='/search'>
            <div class="form-group">
              <input type="text" class="form-control" id="studentName" placeholder="Name" name="sName">
            </div>
            <div class="form-group">
              <select class="form-control" id="studentGender" name="sGender">
                <option></option>
                <option>Male</option>
                <option>Female</option>
              </select>
            </div>
            <div class="form-group">
              <input type="text" class="form-control" id="studentBirthyear" placeholder="Birthyear" name="sBirthyear">
            </div>
            <div class="form-group">
              <input type="text" class="form-control" id="studentCity" placeholder="City" name="sCity">
            </div>
            <button type="submit" class="btn btn-default">Search</button>            
          </form>
          <span class="optionBox">
            <a href="/add" class="btn btn-default">Add</a>
          </span>
          <span class="optionBox">
            <a href="/remove" class="btn btn-default">Remove</a>
          </span>
        </div>
        <div class="listDisplay">
          <table class="table">
            <thead>
              <tr>
                <td>Name</td>
                <td>Gender</td>
                <td>Birthyear</td>
                <td>City</td>
              </tr>
            </thead>
            <tbody>
              <% students.forEach(function(student) { %>
              <tr>
                <td><%= student.name %></td>
                <td><%= student.gender %></td>
                <td><%= student.birthyear %></td>
                <td><%= student.city %></td>
              </tr>
              <% }); %>
            </tbody>
          </table>      
        </div>
      </div>

      <footer>
        <div class="footerBox">
          <span>Copyright &copy; Team 04</span>
        </div>
      </footer>
    </div>
  </body>
</html>
